<div class='row'>
  <div class='col-xl-12'>
    <h4>Organize your availabilities</h4>
  </div>
</div>

<div class='row'>
  <div class='col-xl-4 col-12'>
    <%= form_with model: [:host, Slot.new], local: true do |form| %>
      <div class='card'>
        <div class='card-body'>
          <h5 class='card-title'>New availability :</h5>
          <h6 class='card-subtitle'><%= form.date_field :scheduled_at %> for <%= form.select :daytime, Slot.daytimes.keys.to_a %></h5>
          <h6 class='card-subtitle'>Max number of people : <%= form.select :max_people, (1..10).map { |int| [int, int]} %></h6>
          <%= form.submit 'Create slot' %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render @slots %>
</div>
