<%= form_with model: @booking, local: true do |form| %>
  <%= form.hidden_field :slot_id, value: @booking.slot_id %>
  <div class='row'>
    <div class='col'>
      <h4>
        <%= @booking.slot.daytime %> <%= @booking.slot.scheduled_at&.strftime("%d/%m/%Y") %>
      </h4>
      <p>Hosted by <%= @booking.slot.user.email %>, up to <%= @booking.slot.max_people %> people.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <p>Book for <%= form.select :people, (1..@booking.slot.max_people).map { |int| [int, int]} %> people.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <%= form.submit 'Confirm booking' %>
    </div>
  </div>
<% end %>
