<!DOCTYPE html>
<html>
  <head>
    <title>Hastati Alpha</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class='row'>
      <div class='col-12'>
        <%= render partial: 'navbar' %>
      </div>
    </div>

    <section class='container-fluid'>
      <div class='row'>
        <div class='col'>
          <%= render partial: 'flash' %>
        </div>
      </div>

      <div class='row'>
        <div class='col'>
          <%= yield %>
        </div>
      </div>

    </section>


    <footer>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </footer>

  </body>
</html>
